<div class="login-background">
  <div class="loginWrapper">

    <h1>Prsnl</h1>
    <h2>Keep track of the relationship with your clients</h2>
    <form>
      <input type="text" class="user box" ng-model="user.userName" placeholder="username" required>
      <input type="password" class="password box" ng-model="user.password" placeholder="password" required>
      <input type="button" class="sign-up btn" ng-click="saveUser()" value="Sign Up (it's that easy)"/>
      <input type="submit" class="sign-in btn" ng-click="verifyUser()" value="Already a member? Sign In"/>
    </form>

    <div class="loginError" ng-show="showLoginError">{{errorMessage}}</div>
      <a href="https://prsnl-2.herokuapp.com/auth/github/callback"><img class="github" src="../assets/github.png" /></a>

      <div>
          <a href="https://prsnl-2.herokuapp.com/auth/facebook/callback">
          <img class="github" src="../assets/facebook.png" />
        </a>
      </div>
  </div>
</div>
