<div class="summaryWrapper" ng-controller="summaryCtrl">
  <div class="summaryContent">
    <div class="mainInfo">
      <h2>{{activeFamilyMember.firstName}}  {{activeFamilyMember.lastName}}</h2>
        <span class="editButton" ng-show="activeFamilyMember._id" ng-click='editMember()'>Edit</span>
        <div class="phone">{{activeFamilyMember.phoneNumber}}</div>
        <div class="email">{{activeFamilyMember.email}}</div>
        <div ng-show="activeFamilyMember._id" class="contactFreq">{{activeFamilyMember.contactFrequency}} days</div>
    </div>
    <div class="contactInfo">
      <img ng-src={{activeFamilyMember.image}} class="familyImg" ng-show="activeFamilyMember._id">
      <ul>
        <li class="email">{{activeFamilyMember.streetAddress}}</li>
        <li ng-show="activeFamilyMember.city" class="email">{{activeFamilyMember.city}} {{activeFamilyMember.state}}, {{activeFamilyMember.zipcode}}</li>
        <li class="email">{{activeFamilyMember.country}}</li>
      </ul>
      <button ng-hide="restaurantFlag" ng-click="findRestaurants(activeFamilyMember)" ng-model="activeFamilyMember" style="border-radius:5px; background-color:white; opacity:0.6;font-family:Lora">Go eat with him/her!</button>
      <button ng-show="restaurantFlag" ng-click="restaurantToggle()" style="border-radius:5px; background-color:white; opacity:0.6;font-family:Lora">Close Restaurants</button>
      <button ng-click="showmap(activeFamilyMember)" ng-show="!mapFlag" ng-model="activeFamilyMember" style="border-radius:5px; background-color:white; opacity:0.6;font-family:Lora">Go see what they're doing!</button>
      <button ng-click="toggleMap()" ng-show="mapFlag" style="border-radius:5px; background-color:white; opacity:0.6; font-family:Lora">It's not worth it</button>
      <h3 ng-show="etaFlag" style="font-family:Lora; background-color:lightgreen; width:45%;text-align:center; margin: 0 auto; font-size: 1.3rem;">You are {{eta}} away from creeping</h3>
      <img ng-show="spinner" src="../assets/gears.svg" style="display:block; margin: 150 auto 150 auto"/>
      <article ng-show="mapFlag">

      </article>
    </div>
    <div class="allStops" ng-show="restaurantFlag">
      <div class="restaurant" ng-show="restaurantFlag" ng-repeat="restaurant in nomList">

            <div class="nomPhoto">
              <img src="{{restaurant.image_url}}" style="width:80px;height:80px"/>
            </div>

            <div class="nomInfo">
              <p>
                {{restaurant.name}}</br>
                {{restaurant.address}} {{restaurant.city}},{{restaurant.state}} {{restaurant.postal_code}}
              </p>
            </div>

            <div class="nomSubInfo">
              <p>
                <a href="{{restaurant.reserve_url}}">Click Here to Reserve</a></br>
                Call:{{restaurant.phone}}
              </p>
            </div>

      </div>
    </div>
    <div ng-hide="restaurantFlag">
      <div ng-hide="mapFlag">

        <div id="chart"></div>
        <div id="donut"></div>

        <div class="actionWrapper">
          <!-- on the backburner, a little more complicated than anticipated -->
          <form name="selectingTimeframe">
            <label for="selectingTimeframe"> Select timeframe: </label><br>
            <select name="selectingTimeframe" ng-model="selected" ng-change="selectOption(selected)">
              <option value='7'>Last Week</option>
              <option value='30'>Last Month</option>
              <option value='365'>Last Year</option>
            </select><br>
          </form>

          <h2>Notes</h2><div class="leftContent"><button ng-click="clearHistory(activeFamilyMember)">clear all</button></div>
          <div class="scrollBox">
            <ul class="actionList">
              <li class="actionItem" ng-repeat="action in activeFamilyMember.history | orderBy:'-date'">
                <div class="leftContent">
                  <ul>
                    <li>{{action.date | niceDate}}<a ng-click="clearSingleEvent(action, activeFamilyMember)">        clear</a></li>
                  </ul>
                </div>
                <div class="rightContent">
                  <ul>
                    <li class="action-text">{{action.action}}</li>
                  </ul>
                </div>
                <div class="notesContent">
                  "{{action.notes}}"
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
