<div class="summaryWrapper" ng-controller="summaryCtrl">
  <div class="summaryContent">
    <div class="mainInfo">
      <h2>{{activeFamilyMember.firstName}}  {{activeFamilyMember.lastName}}</h2>
        <span class="editButton" ng-show="activeFamilyMember._id" ng-click='editMember()'>Edit</span>
        <div class="phone">{{activeFamilyMember.phoneNumber}}</div>
        <div class="email">{{activeFamilyMember.email}}</div>
        <div ng-show="activeFamilyMember._id" class="contactFreq">{{activeFamilyMember.contactFrequency}} days</div>
    </div>
    <div class="contactInfo">
      <img ng-src={{activeFamilyMember.image}} class="familyImg" ng-show="activeFamilyMember._id">
      <ul>
        <li class="email">{{activeFamilyMember.streetAddress}}</li>
        <li ng-show="activeFamilyMember.city" class="email">{{activeFamilyMember.city}} {{activeFamilyMember.state}}, {{activeFamilyMember.zipcode}}</li>
        <li class="email">{{activeFamilyMember.country}}</li>
      </ul>
      <button ng-click="showmap(activeFamilyMember)" ng-show="!mapFlag" ng-model="activeFamilyMember">Show Distance</button>
      <button ng-click="toggleMap()" ng-show="mapFlag">Close Map</button>
      <article ng-show="mapFlag">

      </article>
    </div>
    <div id="chart"></div>
    <div id="donut"></div>

    <div class="actionWrapper">
      <!-- on the backburner, a little more complicated than anticipated -->
      <form name="selectingTimeframe">
      <label for="selectingTimeframe"> Select timeframe: </label><br>
        <select name="selectingTimeframe" ng-model="selected" ng-change="selectOption(selected)">
          <option value='7'>Last Week</option>
          <option value='30'>Last Month</option>
          <option value='365'>Last Year</option>
        </select><br>
      </form>

      <h2>Notes</h2><div class="leftContent"><button ng-click="clearHistory(activeFamilyMember)">clear all</button></div>
      <div class="scrollBox">
        <ul class="actionList">
          <li class="actionItem" ng-repeat="action in activeFamilyMember.history | orderBy:'-date'">
              <div class="leftContent">
                <ul>
                  <li>{{action.date | niceDate}}<a ng-click="clearSingleEvent(action, activeFamilyMember)">        clear</a></li>
                </ul>
              </div>
              <div class="rightContent">
                <ul>
                  <li class="action-text">{{action.action}}</li>
                </ul>
              </div>
              <div class="notesContent">
                "{{action.notes}}"
              </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
